<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Giriş</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="/css/admin.css">
        <style>
            table, th, td {
              border-bottom:1px solid black;
            }
            tr:hover {background-color: red; color: white; }
        </style>
        <script>
            function deleteUser(userId) {
                if (confirm("Bu kullanıcıyı silmek istediğinizden emin misiniz?")) {
                    fetch(`/admin/users/${userId}/delete`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id: userId }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const alertBox = document.querySelector('.alert-success');
                        alertBox.innerText = 'Kullanıcı başarıyla silindi.';
                        alertBox.classList.remove('hide');
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    } else {
                        alert(data.message);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
                }
            }
        </script>
	</head>
    <body>
        <% if (message.length > 0) { %>
			<div class="alert-fail">
				<%= message %>
			</div>
		<% } %>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				const alertBox = document.querySelector('.alert-fail');
				if (alertBox) {
					setTimeout(() => {
						alertBox.classList.add('hide');
						setTimeout(() => {
							alertBox.remove();
						}, 1000);
					}, 3000);
				}
			});
		</script>
        <div class="homepage-btn"><a href="/admin/">Anasayfa</a></div>
        <br>
        <table>
            <tr>
                <th>Id</th>
                <th>Kullanıcı İsmi</th>
                <th>E-post</th>
                <th>Tarih</th>
                <th>Sil</th>
            </tr>
            <%users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.created_at_formatted %></td>
                    <td><button onclick="deleteUser('<%= user.id %>')">Sil</button></td>
                </tr>
            <% }); %>
        </table>
    </body>
<html>