<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <% if (userId) { %>
                <div class="dropdown">
                    <a class="dropbtn"><i class="fa fa-fw fa-user"></i> <%= loggedInUser %></a>
                    <div class="dropdown-content">
                        <a href="/post">Gönderi Yayımla</a>
                        <a href="/my-posts">Gönderilerim</a>
                        <a href="/my-comments">Yorumlarım</a>
                        <a href="/logout">Çıkış Yap</a>
                    </div>
                </div>
            <% } else { %>
                <li><a href="/register">Kayıt Ol</a></li>
                <li><a href="/login">Giriş Yap</a></li>
            <% } %>
        </ul>
    </nav>

    <div class="container">
        <ul class="post-detail">
            <h2><%= post.title %></h2>
            <% if (post.file_path) { %>
                <img src="<%= post.file_path %>" alt="<%= post.title %>" style="max-width: 100%; height: auto; margin: auto; display: block;">
            <% } %>
            <%- post.content %>
            <div class="post-meta">
                <small><%= post.created_at_formatted %></small>
                <small> Yazar: <%= post.username %> </small>
            </div>
        </ul>
    </div>
    <div class="container">
        <ul class="comments">
        <% comments.forEach(comment => { %>
            <li class="comment">
                <p><%= comment.content %></p>
                <small><%= comment.created_at_formatted %></small>
                <small> Yazar:<%= comment.username%> </small>
            </li>
         <% }); %>
        </ul>
    </div>

    <div class="post-comment">
    <form action="/post-comment" method="post">
    <input type="hidden" name="postId" value="<%= post.id %>">
    <div class="post-comment-container">
    <label for="post-comment">
        <i class="fa fa-comment"></i>
    </label>
    <input type="post-comment" name="content" placeholder="Yorum Yaz" id="content" required>
    <button type="submit" class="plane">
        <i class="fas fa-paper-plane"></i>
    </button>
    </div>
    </form>
    </div>
    <script src="/js/fade.js" defer></script>
</body>
</html>
